{% extends 'main.html' %}

{% load static %}
{% block content %}
    <h1>Личный кабинет</h1>
    <h2>Врач {{ request.user }}</h2>
    <div style="width: 50%;">
        {% for p in patients %}
        <div style="display: flex; justify-content: space-around;">
            <div>{{ p.patient_name }}</div>
            <div>{{ p.last_questionnaire }}</div>
            <div>{{ p.rating }}</div>
        </div>
        {% endfor %}


    </div>
    <div><button><a class="nav-link" href="{% url 'logout' %}">Выйти</a></button></div>
{% endblock %}
